[package]
name = "roster"
version = "0.1.0"
edition = "2021"
description = "Replacement of Redis with Rust"
authors = ["Anthony Griffon <anthony@griffon.one>"]
homepage = "https://swarmd.io"
repository = "https://github.com/miaxos/roster"
license = "MIT"
keywords = ["redis", "async", "io-uring"]

[[bin]]
name = "roster"
path = "./src/main.rs"
doc = false

[features]
default = []

[dependencies]
anyhow.workspace = true

[dev-dependencies]
insta.workspace = true
