[package]
name = "roster"
version = "0.1.0"
edition = "2021"
description = "Replacement of Redis with Rust"
authors = ["Anthony Griffon <anthony@griffon.one>"]
homepage = "https://swarmd.io"
repository = "https://github.com/miaxos/roster"
license = "MIT"
keywords = ["redis", "async", "io-uring"]

[lib]
name = "roster"
path = "./src/lib.rs"

[[bin]]
name = "roster"
path = "./src/main.rs"
doc = false

[features]
default = []

[dependencies]
anyhow.workspace = true
atoi = "2"
bytes.workspace = true
cfg-if = "1"
config.workspace = true
derive_builder.workspace = true
dotenv.workspace = true
monoio = { workspace = true, features = ["bytes", "sync"] }
scc = "2"
serde.workspace = true
thiserror = "1"

# Logging
tracing = { workspace = true, features = ["attributes"] }
tracing-subscriber = { workspace = true, features = ["registry", "env-filter", "json"] }

[dev-dependencies]
criterion = { version = "0.5", features = ["async", "html_reports"] }
insta.workspace = true
rand = "0.8"
redis-async = "0.16"
tokio = { version = "1.4", features = [
  "macros",
  "rt-multi-thread",
  "sync",
  "time",
  "io-util",
  "net",
] }

[[bench]]
name = "parsing"
harness = false
